.fontyourface-1 { font-family: 'ABeeZee'; font-style: normal; font-weight: normal; }
.fontyourface-862 { font-family: 'Kaushan Script'; font-style: normal; font-weight: normal; }
.fontyourface-884 { font-family: 'Krona One'; font-style: normal; font-weight: normal; }
